<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stderr="true"
         cacheResultFile=".tmp/phpunit/.phpunit.cache"
>
    <coverage>
        <report>
            <text outputFile="php://stdout" showOnlySummary="true"/>
            <html outputDirectory=".tmp/phpunit/coverage" lowUpperBound="35" highLowerBound="70"/>
            <cobertura outputFile=".tmp/phpunit/coverage/cobertura.xml"/>
        </report>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
        </exclude>
    </coverage>
    <logging>
        <junit outputFile=".tmp/phpunit/junit.xml"/>
        <testdoxText outputFile=".tmp/phpunit/testdox.txt"/>
    </logging>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>
